.cardContainer {
  width: 443px;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.authorContainer {
  display: flex;
  gap: 10px;
}

.authorText {
  color: red;
  font-weight: bold;
}

.hashtagContainer {
  display: flex;
  gap: 15px;
}
