.nav {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 15px 64px;
  box-sizing: border-box;
  align-items: center;
}
.itemsContainer {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
